<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

  <link href='https://fonts.googleapis.com/css?family=Lato:300,300italic,900' rel='stylesheet' type='text/css'>

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "RustConf" %></title>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all", "retina" %>
    <%= favicon_tag 'images/favicon.png' %>

  </head>

  <body class="center <%= page_classes %>">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <header>
     <div id="hero">
       <a href="index.html"><img id="logo" src="images/rustconf-hero.png"></a>
     </div>
    </header>

    <main>
      <% if current_page.path.include? "2016" %>
      <nav class="one">

        <div class="bk l">
          <div class="arrow top"></div>
          <div class="arrow bottom"></div>
        </div>

        <div class="skew l"></div>

        <div class="main2">
          <div>
            <ul class="menu">
              <li><a href="program.html">PROGRAM</a></li>
              <li>|</li>
              <li><a href="schedule.html">SCHEDULE</a></li>
              <li>|</li>
              <li><a href="training.html">TRAINING</a></li>
              <li>|</li>
              <li><a href="about.html">ABOUT</a></li>
              <li>|</li>
              <li><a href="register.html">REGISTER</a></li>
            </ul>
          </div>
        </div>

        <div class="skew r"></div>

        <div class="bk r">
          <div class="arrow top"></div>
          <div class="arrow bottom"></div>
        </div>
      </nav>
      <% end %>

      <%= yield %>
    </main>

  </body>

<% if current_page.path.include? "2016" %>

  <footer class="center">

  <hr>

  <h2>Thank You to Our Generous 2016 Sponsors</h2>

  <div id="footer-ribbon" class="aside ribbon">
    Gold
  </div>

  <div id="sponsor-list" class="center">

    <ul class="premier">
      <li><a href="http://www.skylight.io"><img src="/2016/images/sponsors/Logo-Skylight.png" alt="Skylight"></a></li>
      <li><a href="http://www.mozilla.com"><img src="/2016/images/sponsors/Logo-Mozilla.png" alt="Mozilla"></a></li>
      <br />
      <li><a href="http://www.intel.com"><img src="/2016/images/sponsors/Logo-Intel.png" alt="Intel" class="sp-vertical"></a></li>
      <li><a href="http://www.chef.io/"><img src="/2016/images/sponsors/Logo-Chef.png" alt="Chef" class="sp-vertical"></a></li>
    </ul>

    <div id="footer-ribbon" class="aside ribbon">
      Silver
    </div>

    <ul class="supporting">
      <li><a href="http://www.github.com"><img src="/2016/images/sponsors/Logo-GitHub.png" alt="GitHub"></a></li>
      <li><a href="http://www.memcachier.com"><img src="/2016/images/sponsors/Logo-Memcachier.png" alt="MemCachier"></a></li>
    </ul>

    <h4>Seeking exposure to top Rust Talent? <a href="/2016/images/sponsors/16_RustConf_Prospectus.pdf">Sponsor RustConf</a>!</h4>

  </div>

  <hr />

    <ul>
      <li><a href="about.html#conduct">Code of Conduct</a></li>
      <li>|</li>
      <li><a href="mailto:events@tilde.io">Get in Touch</a></li>
      <li>|</li>
      <li><a href="sponsors.html">Sponsors</a></li>
      <li>|</li>
      <li><a href="http://www.tilde.io">&#169; Tilde Inc. 2016</a></li>
    </ul>

  </footer>
<% else %>

  <footer class="center">

  <hr>

  <h2>Thank You to Our Generous 2017 Sponsors</h2>

  <div id="footer-ribbon" class="aside ribbon">
    Gold
  </div>

  <div id="sponsor-list" class="center">

    <ul class="premier">
      <li><a href="http://www.skylight.io"><img src="/2016/images/sponsors/Logo-Skylight.png" alt="Skylight"></a></li>
      <li><a href="http://www.mozilla.com"><img src="/2016/images/sponsors/Logo-Mozilla.png" alt="Mozilla"></a></li>
    </ul>
  <!--  
    <div id="footer-ribbon" class="aside ribbon">
      Silver
    </div>

   <ul class="supporting">
    </ul> -->

    <h4>Seeking exposure to top Rust Talent? <a href="/images/sponsors/17_RustConf_Prospectus.pdf">Sponsor RustConf</a>!</h4>

  </div>

  <hr />

    <ul>
      <li><a href="about.html#conduct">Code of Conduct</a></li>
      <li>|</li>
      <li><a href="mailto:events@tilde.io">Get in Touch</a></li>
      <li>|</li>
      <li><a href="sponsors.html">Sponsors</a></li>
      <li>|</li>
      <li><a href="http://www.tilde.io">&#169; Tilde Inc. 2016</a></li>
    </ul>

  </footer>
<% end %>
</html>
