<%
programdata = data.program
sponsordata = data.sponsors
faqdata = data.faq

if year == "2017"
  programdata = data.program2017
  sponsordata = data.sponsors2017
  faqdata = data.faq2017
end

twotrack = false
if programdata.schedule.any? {|event| event.talk && event.talk.kind_of?(Array)}
  twotrack = true
end
%>

<h1>Schedule</h1>

<% if year == "2017" %>
<p>
  Trainings take place on Friday, August 18th, and the conference takes place on August 19th.<br> <a href="../training.html">Training schedule details can be found here</a>.
</p>
<% elsif year == "2018" %>
  <p>RustConf 2018 is on August 16th and 17th. The <a href="training.html">trainings</a> will be on the 16th, and the <a href=program.html>talks</a> will be on the 17th. <a href="training.html">Training schedule details can be found here</a>

<% end %>

<div>
 <table id="schedule">
    <thead>
      <tr>
        <th width="160">TIME</th>
        <th width="600">CONTENT</th>
      </tr>
    </thead>
    <tbody>
    <% programdata.schedule.each do |event| %>
      <tr class="special">
        <td><%= event.time.sub! "-", "&ndash;" %></td>
        <td>
          <% if event.talk %>
            <% 
              talks = [event.talk]
              if event.talk.kind_of?(Array)
                talks = event.talk
              end
            %>
            <% for t in talks %>
              <%
                talk = programdata.talks.select {|talk| talk.ident == t}[0]
                speakers = programdata.speakers.select {|spk| talk.speakers.include? spk.ident}
              %>
              <p class="speaker"><a href="program.html#<%= talk.ident %>"><%= talk.title %></a></p>
              <p class="byline">
                <% speakers.each_with_index do |spk, idx| %><% if idx != 0 && speakers.length > 2 %>,<% end %> <% if idx == speakers.length - 1 %>and <% end %><%= spk.name %><% end %>
              </p> 
            <% end %>
          <% else %>
            <span class="session"><%= event.name %></span>
          <% end %>
        </td>
      </tr>

    <% end %>
    </tbody>
</table>
</div>
