<%
programdata = data.program
sponsordata = data.sponsors
faqdata = data.faq

if year == "2017"
  programdata = data.program2017
  sponsordata = data.sponsors2017
  faqdata = data.faq2017
end
%>

<style type="text/css">
  /* Don't show sponsors twice */
  #sponsor-footer-container {
    display:none;
  }
</style>
<div class="container">

  <h1>Meet Our Sponsors</h1>

  <div id="footer-ribbon" class="aside ribbon">
    Gold
  </div>

  <table class="sponsor-page">
    <% sponsordata.select {|sp| sp.type == "gold"}.each do |sponsor| %>
      <tr>
        <td>
          <a href="<%= sponsor.website %>"><img src="/images/sponsors/<%= sponsor.logo %>" alt="<%= sponsor.name %>"></a>
        </td>
        <td>
          <p><%= sponsor.about %></p>
        </td>
      </tr>
    <% end %>
  </table>

<% if sponsordata.select {|sp| sp.type == "silver"}.count > 0 %>
  <div id="footer-ribbon" class="aside ribbon">
    Silver
  </div>

  <table class="sponsor-page">
    <% sponsordata.select {|sp| sp.type == "silver"}.each do |sponsor| %>
      <tr>
        <td>
          <a href="<%= sponsor.website %>"><img src="/images/sponsors/<%= sponsor.logo %>" alt="<%= sponsor.name %>"></a>
        </td>
        <td>
          <p><%= sponsor.about %></p>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% if year == "2017" %>
<h4>Seeking exposure to top Rust Talent? <a href="/images/sponsors/17_RustConf_Prospectus.pdf">Sponsor RustConf</a>!</h4>
<% else %>
<h4>Seeking exposure to top Rust Talent? <a href="/images/sponsors/18_RustConf_Prospectus.pdf">Sponsor RustConf</a>!</h4>
<% end %>


<% if year == "2017" %>

  <div id="footer-ribbon" class="aside ribbon">
    Scholarships
  </div>
  <p>
    The following individuals and companies generously contributed funds for our scholarship program:
  </p>
<ul>
    <li> Cliff Dyer
</ul>

<% end %>



</div>
