---
title: About Our Sponsors
---
<style type="text/css">
  /* Don't show sponsors twice */
  #sponsor-footer-container {
    display:none;
  }
</style>
<div class="container">

  <h1>Meet Our Sponsors</h1>

  <div id="footer-ribbon" class="aside ribbon">
    Gold
  </div>

  <table class="sponsor-page">
    <% data.sponsors.select {|sp| sp.type == "gold"}.each do |sponsor| %>
      <tr>
        <td>
          <a href="<%= sponsor.website %>"><img src="/images/sponsors/Logo-<%= sponsor.name %>.png" alt="<%= sponsor.name %>"></a>
        </td>
        <td>
          <p><%= sponsor.about %></p>
        </td>
      </tr>
    <% end %>
  </table>

<% if data.sponsors.select {|sp| sp.type == "silver"}.count > 0 %>
  <div id="footer-ribbon" class="aside ribbon">
    Silver
  </div>

  <table class="sponsor-page">
    <% data.sponsors.select {|sp| sp.type == "silver"}.each do |sponsor| %>
      <tr>
        <td>
          <a href="<%= sponsor.website %>"><img src="/images/sponsors/Logo-<%= sponsor.name %>.png" alt="<%= sponsor.name %>"></a>
        </td>
        <td>
          <p><%= sponsor.about %></p>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<h4>Seeking exposure to top Rust Talent? <a href="/images/sponsors/17_RustConf_Prospectus.pdf">Sponsor RustConf</a>!</h4>


  <div id="footer-ribbon" class="aside ribbon">
    Scholarships
  </div>


  <p>
    The following individuals and companies generously contributed funds for our scholarship program:
  </p>
<ul>
    <li>
      Cliff Dyer
<!--     <li>
      ...and other anonymous donors.
    </li> -->
</ul>



</div>
