---
title: RustConf Trainings
---

<div class="container">

  <h1>Our Trainings</h1>

  <p>
    We'll be offering <em>six</em> half-day Rust training sessions, targeting various levels of Rust experience.
  </p>

  <p>
    We're also running an all-day RustBridge workshop for people in groups that are underrepresented in tech.
  </p>

At a glance, the schedule is: <br><br>

<table border cellpadding=5>
<tr><td>Morning (9am-12pm)</td>
<% data.program.trainings.select { |s| s.timeslot == 'morning' || s.timeslot == "full" }.sort_by { |s| s.room }.each do |training| %>
<td <% if training.timeslot == "full" %> rowspan=2<% end %>> <a href="#<%= training.slug %>"><%= training.title %></a></td>
<% end %>
</tr>
<tr><td>Afternoon (1pm-4pm or 5pm)</td>
<% data.program.trainings.select { |s| s.timeslot == 'afternoon' }.sort_by { |s| s.room }.each do |training| %>
<td> <a href="#<%= training.slug %>"><%= training.title %></a></td>
<% end %>
</tr>
</table>
  <div id="program">
    <h3>Morning (9am-12pm)</h3>
    <table>
      <% data.program.trainings.select { |s| s.timeslot == 'morning'}.each do |training| %>
        <%= partial "training", locals: { training: training } %>
      <% end %>
    </table>

    <h3>Afternoon (1pm-4pm or 5pm)</h3>
    <table>
      <% data.program.trainings.select { |s| s.timeslot == 'afternoon'}.each do |training| %>
        <%= partial "training", locals: { training: training } %>
      <% end %>
    </table>

    <h3>All day (9am-4pm, break from 12pm-1pm)</h3>
    <table>
      <% data.program.trainings.select { |s| s.timeslot == 'full'}.each do |training| %>
        <%= partial "training", locals: { training: training } %>
      <% end %>
    </table>
  </div>
</div>
